@import "tailwindcss";

@theme {
	--color-background: #0a0a0a;
	--color-background-secondary: #1a1a1a;

	--color-sidebar-background: #1a1a1a;
	--color-input-background: #242424;
	--color-card-background: #1d1d1d;
	--color-table-background: #3a3a3a;

	--color-tab-underline: #3a3a3a;
	--color-switch-thumb: #242424;

	--color-foreground: #ffffff;
	--color-muted: #9ca3af;

	--color-primary: #1988b0;

	--color-status-alert: #ff6262;
	--color-status-success: #62ff77;
	--color-status-warning: #ffcc00;
	--color-accent-blue: #6291ff;
	--color-accent-brown: #d08d63;

	--color-neutral-gray: #646464;
	--color-table-border: #7e7e7e;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 9999px;
	border: 1px solid transparent;
}

* {
	scrollbar-width: thin;
	scrollbar-color: white transparent;
}

.marquee-container {
	height: 30px;
	overflow: hidden;
	line-height: 30px;

	.marquee {
		top: 0;
		left: 100%;
		width: 100%;
		position: absolute;
		white-space: nowrap;
		animation: marquee 30s linear infinite;
	}

	.marquee2 {
		animation-delay: 15s;
	}
	b {
		padding-left: 10px;
	}
}

@keyframes marquee {
	0% {
		left: 100%;
	}
	100% {
		left: -100%;
	}
}
